# Database config
MW_DB_HOST=db
MW_DB_PORT=3306
MYSQL_DATABASE=my_wiki
MYSQL_ROOT_PASSWORD=
MYSQL_USER=root

# MediaWiki admin config
MW_ADMIN_USER=admin
MW_ADMIN_PASS=

# MediaWiki site config
MW_SERVER_URL=http://localhost:8080
MW_SITENAME='CC Public Wiki'
