# MediaWiki install
MW_VERSION=1.44.2

# Database config
MARIADB_DATABASE=mediawiki
MARIADB_ROOT_PASSWORD=
MARIADB_USER=root
MW_DB_HOST=db
MW_DB_PORT=3306

# MediaWiki admin config
MW_ADMIN_USER=admin
MW_ADMIN_PASS=Touv.74977.bloulp

# MediaWiki site config
MW_SERVER_URL=http://localhost:8080/
MW_SITENAME='CC Public Wiki'
