# MediaWiki Variables
MW_VERSION=1.44.2

# MediaWiki Database Config
MW_DB_HOST=wiki-db
MW_DB_PORT=3306
MW_DB_NAME=mediawiki
MW_DB_USER=root
MW_DB_PASS=

# MediaWiki Site Config
MW_SERVER_URL=
MW_SITENAME="CC PublicWiki"

# MediaWiki Admin Credentials
MW_ADMIN_USER=admin
MW_ADMIN_PASS=
